div{text-align: center;}

h1{ color: black ; 
    background-color: darkgray; 
    text-align: center;}
    
h2{ color: black; 
    background-color: deepskyblue;}

footer{text-align: center; 
    color: black; 
    background-color: deepskyblue;}

header{text-align: center;}

img{position: center;}
